phd_coding/python/practitioner/.vscode/launch.json
phd_coding/python/Hastur_module/__pycache__/__init__.cpython-313.pyc
phd_coding/python/Hastur_module/__pycache__/beam_config.cpython-313.pyc
phd_coding/python/Hastur_module/__pycache__/crank_nicolson.cpython-313.pyc
phd_coding/python/Hastur_module/__pycache__/grid_config.cpython-313.pyc
phd_coding/python/Hastur_module/__pycache__/hastur.cpython-313.pyc
phd_coding/python/Hastur_module/__pycache__/main.cpython-313.pyc
phd_coding/python/Hastur_module/__pycache__/plotting.cpython-313.pyc
phd_coding/python/Hastur_module/__pycache__/simulation.cpython-313.pyc
phd_coding/python/storage/figuras_full_2/1d_density_solutions.png
phd_coding/python/storage/figuras_full_2/1d_intensity_solutions.png
phd_coding/python/storage/figuras_full_2/2d_density_rt_z0.png
phd_coding/python/storage/figuras_full_2/2d_density_rt_z1.png
phd_coding/python/storage/figuras_full_2/2d_density_rt_z2.png
phd_coding/python/storage/figuras_full_2/2d_density_rt_z3.png
phd_coding/python/storage/figuras_full_2/2d_density_rt_z4.png
phd_coding/python/storage/figuras_full_2/2d_density_rt_z5.png
phd_coding/python/storage/figuras_full_2/2d_density_rz.png
phd_coding/python/storage/figuras_full_2/2d_density_zt.png
phd_coding/python/storage/figuras_full_2/2d_intensity_rt_z0.png
phd_coding/python/storage/figuras_full_2/2d_intensity_rt_z1.png
phd_coding/python/storage/figuras_full_2/2d_intensity_rt_z2.png
phd_coding/python/storage/figuras_full_2/2d_intensity_rt_z3.png
phd_coding/python/storage/figuras_full_2/2d_intensity_rt_z4.png
phd_coding/python/storage/figuras_full_2/2d_intensity_rt_z5.png
phd_coding/python/storage/figuras_full_2/2d_intensity_rz.png
phd_coding/python/storage/figuras_full_2/2d_intensity_zt.png
phd_coding/python/storage/figuras_full_2/3d_density_rt_z0.png
phd_coding/python/storage/figuras_full_2/3d_density_rt_z1.png
phd_coding/python/storage/figuras_full_2/3d_density_rt_z2.png
phd_coding/python/storage/figuras_full_2/3d_density_rt_z3.png
phd_coding/python/storage/figuras_full_2/3d_density_rt_z4.png
phd_coding/python/storage/figuras_full_2/3d_density_rt_z5.png
phd_coding/python/storage/figuras_full_2/3d_density_rz.png
phd_coding/python/storage/figuras_full_2/3d_density_zt.png
phd_coding/python/storage/figuras_full_2/3d_intensity_rt_z0.png
phd_coding/python/storage/figuras_full_2/3d_intensity_rt_z1.png
phd_coding/python/storage/figuras_full_2/3d_intensity_rt_z2.png
phd_coding/python/storage/figuras_full_2/3d_intensity_rt_z3.png
phd_coding/python/storage/figuras_full_2/3d_intensity_rt_z4.png
phd_coding/python/storage/figuras_full_2/3d_intensity_rt_z5.png
phd_coding/python/storage/figuras_full_2/3d_intensity_rz.png
phd_coding/python/storage/figuras_full_2/3d_intensity_zt.png
phd_coding/python/storage/figures_full_1/1d_density_solutions.png
phd_coding/python/storage/figures_full_1/1d_intensity_solutions.png
phd_coding/python/storage/figures_full_1/2d_density_rt_z0.png
phd_coding/python/storage/figures_full_1/2d_density_rt_z1.png
phd_coding/python/storage/figures_full_1/2d_density_rt_z2.png
phd_coding/python/storage/figures_full_1/2d_density_rt_z3.png
phd_coding/python/storage/figures_full_1/2d_density_rt_z4.png
phd_coding/python/storage/figures_full_1/2d_density_rt_z5.png
phd_coding/python/storage/figures_full_1/2d_density_rz.png
phd_coding/python/storage/figures_full_1/2d_density_zt.png
phd_coding/python/storage/figures_full_1/2d_intensity_rt_z0.png
phd_coding/python/storage/figures_full_1/2d_intensity_rt_z1.png
phd_coding/python/storage/figures_full_1/2d_intensity_rt_z2.png
phd_coding/python/storage/figures_full_1/2d_intensity_rt_z3.png
phd_coding/python/storage/figures_full_1/2d_intensity_rt_z4.png
phd_coding/python/storage/figures_full_1/2d_intensity_rt_z5.png
phd_coding/python/storage/figures_full_1/2d_intensity_rz.png
phd_coding/python/storage/figures_full_1/2d_intensity_zt.png
phd_coding/python/storage/figures_full_1/3d_density_rt_z0.png
phd_coding/python/storage/figures_full_1/3d_density_rt_z1.png
phd_coding/python/storage/figures_full_1/3d_density_rt_z2.png
phd_coding/python/storage/figures_full_1/3d_density_rt_z3.png
phd_coding/python/storage/figures_full_1/3d_density_rt_z4.png
phd_coding/python/storage/figures_full_1/3d_density_rt_z5.png
phd_coding/python/storage/figures_full_1/3d_density_rz.png
phd_coding/python/storage/figures_full_1/3d_density_zt.png
phd_coding/python/storage/figures_full_1/3d_intensity_rt_z0.png
phd_coding/python/storage/figures_full_1/3d_intensity_rt_z1.png
phd_coding/python/storage/figures_full_1/3d_intensity_rt_z2.png
phd_coding/python/storage/figures_full_1/3d_intensity_rt_z3.png
phd_coding/python/storage/figures_full_1/3d_intensity_rt_z4.png
phd_coding/python/storage/figures_full_1/3d_intensity_rt_z5.png
phd_coding/python/storage/figures_full_1/3d_intensity_rz.png
phd_coding/python/storage/figures_full_1/3d_intensity_zt.png
